<div class="group" style="position: relative;">
    <span class="opacity-0 hover:opacity-100 group-hover:opacity-100" style="color: red; font-size: 11px; font-family: monospace; position: absolute; z-index: 10; background-color: rgba(255,255,255,.8)">{{ info }}</span>
    {{ content|raw }}
</div>
